body {
    font-family: Arial, sans-serif;
    margin: 20px;
    background-color: #f5ece5;
}

h1 {
    text-align: center;
}

#fields {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  align-items: center;
}
input[type='file'] {
    background-color: #f3f3f3;
    color: #333;
    border: 1px solid #ccc;
    border-radius: 5px;
    padding: 5px;
    font-size: 14px;
    cursor: pointer;
}

input[type='file']::file-selector-button {
    background-color: #007bff;
    color: #fff;
    border: none;
    border-radius: 5px;
    padding: 5px 10px;
    cursor: pointer;
    font-size: 14px;
}

input[type='file']::file-selector-button:hover {
    background-color: #0056b3;
}


button {
  background-color: #007bff;
  height: 40px;
  color: #fff;
  border: none;
  border-radius: 5px;
  margin: 5px;
}


#id-cards-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

.id-card {
    border: 1px solid #ddd;
    border-radius: 8px;
    padding: 10px;
    margin: 10px;
    width: 230px;
    height: 250px;
    text-align: center;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    position: relative;
    background-color: #f6eeea;
}

.logo-container {
    background-color: #f96319;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-bottom: 10px;
    height: 30px;
    border-radius: 5px;
}

.logo {
    width: 20px;
    height: 20px;
    margin: 6px;
}

.logo-text {
    font-size: 10px;
    font-weight: bold;
    color: #2c13eb;
}

.id-card img {
    width: 30px;
    height: 30px;
    object-fit: cover;
    border-radius: 50%;
    margin-bottom: 10px;
}

.id-card h3 {
    margin: 10px 0;
    font-size: 18px;
    text-align: center;
}

.id-card p {
    font-size: 14px;
    text-align: center;
}

@media print {
    body {
        font-family: Arial, sans-serif;
        margin: 0;
        padding: 0;
        width: 210mm;
        height: 297mm;
     
    }

    #id-cards-container {
        display: grid;
        grid-template-columns: repeat(auto-fill, minmax(150px, 1fr)); /* Responsive layout */
        gap: 10px;
        padding: 10mm;
        margin: 0;
        background-color: #ffa070;
    }

    .id-card {
        width: 150px;  /* Adjust width of each card */
        height: 230px; /* Adjust height to fit more cards */
        border: 1px solid #000;
        background-color: #ebcda4;
        padding: 10px;
        border-radius: 10px;
        box-shadow: none; /* Remove shadow for print */
        page-break-inside: avoid;
    }

    .id-card img {
        width: 30px;
        height: 30px;
        object-fit: cover;
        border-radius: 50%;
        margin-bottom: 10px;
    }

    .id-card h3 {
        margin: 5px 0;
        font-size: 14px;
        text-align: center;
    }

    .id-card p {
        font-size: 12px;
        text-align: center;
    }

    /* Hide unnecessary elements for print */
    h1, #excel-file, #generate-cards, #print-cards {
        display: none;
    }
}
